#product-reviews-main {
    background-color: rgb(255, 255, 255);
    min-height: 750px;
    padding: 50px 10px;
}

#product-reviews-main #container-form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#product-reviews-main #container-reviews-layout {
    margin-top: 50px;
}

