#product-list-main {
    padding: 10px;
    height: calc(100% - 83px);
    overflow-y: auto;
    margin-top: 2px;
    margin-right: 2px;
}



@media screen and (min-width: 992px){
    #product-list-main {
        height: 100%;
    }
    
}

#product-status-main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 83px);
    justify-content: center;
    align-items: center;
}

#product-status-main #product-status {
    color: rgba(49, 194, 141, 1);
    font-family: Epilogue;
    font-size: 20px;
    font-weight:bolder;
    text-align: center;
}

#product-status-main #product-status-aux {
    font-family: Epilogue;
    font-size: 17px;
    font-weight: 500;
    line-height: 20.5px;
    text-align: center;
}

@media screen and (min-width: 768px){
    #product-status-main #product-status {
        font-size: 30px;
    }
    
    #product-status-main #product-status-aux {
        font-size: 20px;
    }
}