#main-header-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 238px;
    height: 35px; 
    
}

#main-header-input input{
   position: relative;
   height: 35px;
   color: #fff;
   background-color: transparent;
   padding-right: 40px;
}

#main-header-input input::placeholder {
    color: #fff;
}

#main-header-input .form-control:focus {
    box-shadow: none;
    border-color: #fcfffefb; 
  }

#main-header-input #header-search-button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
    font-size: 1.6em;
    color: rgba(49, 194, 141, 1);
}

#main-header-input #header-search-button i {
    padding-left: 8px;
    border-left: 1px solid rgba(49, 194, 141, 1);
    padding-right: 10px;
}

#main-header-input #header-search-button i:hover {
    background-color: rgba(203, 255, 236, 0.086);
}

