.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  
  .spinner-grow {
      box-shadow: rgba(6, 231, 148, 0.976) 0px 0px 20px 0px; ;

  }
  
  
  @media screen and (min-width: 768px) {
      .spinner-grow {
          height: 2.8em;
          width: 2.8em;
      }
      
  }
  
  .spinner-grow:nth-child(1) {
      animation-delay: 0.70s;
      color: rgba(49, 194, 141, 1);
      ; 
    }
    
    .spinner-grow:nth-child(2) {
      animation-delay: 0.75s;
      color: rgb(24, 166, 114); 
    }
   
    .spinner-grow:nth-child(3) {
      animation-delay: 0.80s; 
      color: rgba(49, 194, 141, 1); 
    }
    
    .spinner-grow:nth-child(4) {
      animation-delay: 0.85s; 
      color: rgb(24, 166, 114); 
    }
    
    .spinner-grow:nth-child(5) {
      animation-delay: 0.90s;
      color: rgba(49, 194, 141, 1);
    }
  