
#shopping-cart-offcanvas .offcanvas {
    display: flex;
    flex-direction: column;
    margin-top: 148px;
    height: 100%; /* Use 100% e deixe o JS ajustar a altura */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.427);
}
    

#shopping-cart-offcanvas #shopping-cart-button {
    position: relative;
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0px;
    margin-bottom: 5px;
}

#shopping-cart-offcanvas #shopping-cart-badge {
    background-color: #31C28D;
    color: #fff;
    font-size: 12px;
    position:absolute;
    top: 10px;
    left: 25px;
}

#shopping-cart-offcanvas .offcanvas-header {
    height: 30px;
}

@media screen and (min-width: 768px) {
    .offcanvas-custom {
        width: 500px !important;
      }

    #shopping-cart-offcanvas #shopping-cart-button {
        font-size: 44px;
        margin-bottom: 0px;
    }

    #shopping-cart-offcanvas #shopping-cart-badge {
        font-size: 14px;
    }
    
}

@media (min-width: 992px) {
    .offcanvas-custom {
      width: 600px !important;
    }
  }

#shopping-cart-offcanvas #empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    color: #31C28D;
}

#shopping-cart-offcanvas .offcanvas-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 10px 0px;
    padding-top: 5px;
    padding-bottom: 15px;
    flex-shrink: 0;
    border-top: 1px solid #7374746e;
}

#shopping-cart-offcanvas .offcanvas-footer .primary-button {
    width: 100%;
    max-width: 244.65px;
}
