#product-selected {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    overflow: hidden;
}


#product-selected #product-name-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    color: #080000;
    font-weight: bold;
}



#product-selected  img {
    width: 50%;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
} 


#product-selected .carousel-control-prev-icon,
#product-selected .carousel-control-next-icon {
    background-color: #080000;
  }
  